<div class="container">
  <h1 class="recipe_name">New recipe food</h1>

  <%= render partial: "form", locals: { recipe: @recipe, recipe_food: @recipe_food } %>

  <br>

  <div>
    <%= link_to "Back to the recipe", recipe_path(@recipe) %>
  </div>
</div>
